<!-- author ben lawson balawson@bu.edu -->
<!-- edited by: Haoyuan Liu (lhyysr@bu.edu) -->
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    {% if message %}
    <h1>{{message}}<a href="/login">login</a></h1>
    {% endif %}

    <div class="title"><h1>Register a new account!</h1></div>   
    
    <div id="content">
        <form method="post" action="{{ url_for('register_user') }}">
            <h3>Enter your information below:</h3> 

            <label for="email">Email:</label>
            <input type="email" name="email" required="true"/><br />
            
            <label for="password">Password:</label>
            <input type="password" name="password" required="true"/><br />
            
            <label for="first_name">First Name:</label>
            <input type="first_name" name="first_name" required="true"/><br />

            <label for="last_name">Last Name</label>
            <input type="last_name" name="last_name" required="true"/><br />

            <label for="dob">Date of Birth(yyyy-mm-dd)</label>
            <input type="dob" name="dob" required="true"/><br />

            <h3>Optional Information:</h3>

            <label for="hometown">Hometown</label>
            <input type="hometown" name="hometown" /><br />

            <label for="gender">Gender(Male/Female)</label>
            <input type="gender" name="gender" /><br />

            <input type="submit" />
        </form>
    </div>

    <a href='/'>Home</a>
</body>
</html>